* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: "inter", sans-serif;
    background: linear-gradient(to right, #ECF0F1, #d1e4f7);
    color: #333;
}

.card-wrapper {
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
}

.container.card-slider {
    position: relative;
    margin-top: 20rem;
    margin-bottom: 20rem;
}

/* naviegatie bar */
.navbar {
    background-color: #2c3E50;
}

.navbar-inside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo img {
    width: 70px;
    height: auto;
    border-radius: 50%;
    margin-left: 30px;
}

/* Menu */
.menu {
    display: flex;
    flex: 1;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin: auto;
}

.menu li {
    margin: 0 15px;
}

.menu-right {
    display: flex;
    list-style: none;
    justify-content: right;
    margin-right: 40px;
}

.menu a {
    text-decoration: none;
    color: #ECF0F1;
    font-weight: bold;
    transition: color 0.3s;
}

.menu a:hover {
    color: #7F8C8D;
}

/* Hamburger menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #ECF0F1;
    margin: 4px 0;
    transition: 0.4s;
}


/* home page, wie ben ik intro */
.info {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 0 12px;
    margin-top: 100px;
}

.info-home {
    width: 60%;
    text-align: center;
    padding: 20px;
}

.info-home h1 {
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    font-size: 200%;
}

.info-home p {
    padding: 30px;
    justify-content: center;
    align-items: center;
    font-size: 120%;
}

.info-foto-home {
    border-radius: 50%;
    display: flex;
    width: 20%;
    margin-top: 32px;
    overflow: hidden;
    justify-content: right;
    margin-left: 80px;
}

.foto-me {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.button {
    list-style: none;
    font-weight: 10%;
}

.button-info {
    width: 50%;
    margin-top: 14px;
    padding: 16px;
    font-size: 18px;
    color: #ECF0F1;
    border-radius: 8px;
    background-image: linear-gradient(to right, #34495E, #7F8C8D);
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-image: linear-gradient(to left, #34495E, #7F8C8D);
}


/* card slider */
.card-text {
    text-align: center;
    color: #333;
    padding: 2rem;
}

.card-list .card-item .card-link {
    user-select: none;
    display: block;
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
}


.card-list .card-item .card-link:active {
    cursor: grabbing;
}

.card-list .card-item .card-link:hover {
    border-color: #5372f0;
}

.card-list .card-link .card-image {
    width: 100%;
    aspect-ratio: 16/ 9;
    object-fit: cover;
    border-radius: 10px;
}

/* badge kleur / style */
.card-list .card-link .badge {
    color: #5372f0;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500px;
    margin: 16px 0 18px;
    background: #DDE4FF;
    width: fit-content;
    border-radius: 50px;
}

.card-list .card-link:hover .card-button {
    background: #5372f0;
    color: #fff;
}

.card-list .card-link .badge.back_end {
    background: #7870f0;
    color: #3d389d;
}

.card-list .card-link .badge.museum {
    background: #f451b3;
    color: #981062;
}

.card-list .card-link .badge.webshop {
    background: #49f7c3;
    color: #188872;
}

.card-list .card-link .badge.input_output {
    background: #fff56d;
    color: #817a20;
}

.card-item__content {
    min-height: 200px;
}

/* eind badge style */

.card-list .card-link .card-title {
    font-size: 1rem;
    color: #333;
    text-align: center;
    font-weight: 400px;
}

.card-list .card-link .card-button {
    height: 35px;
    width: 35px;
    color: #5372f0;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid #5372f0;
    transform: rotate(-45deg);
    transition: 0.4s ease;
}

.card-slider .swiper-pagination {
    position: relative;
    padding: 10px;
}

.card-slider .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: #5372f0;
}

.card-slider .swiper-pagination-bullet-active {
    opacity: 1;
}

.card-slider .swiper-slide-button {
    color: #5372f0;
}

/* Responsive */
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #2c3E50;
        text-align: center;
        padding: 20px 0;
    }

    .menu.active {
        display: flex;
    }

    .menu li {
        margin: 15px 0;
        flex: 0;
        text-align: center;
        margin-left: auto;
        margin-right: 105px;
    }

    .menu-toggle {
        display: flex;
        margin-left: auto;
    }

    /* card slider */
    .card-wrapper {
        margin: 0 10px 25px;
    }

    .card-wrapper .swiper-slide-button {
        display: none;
    }
}